@import './default.css';

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: var(--color-bg-main);
}

.block {
  margin: 0.3rem;

  background: var(--color-bg-block);
  border: solid 1px var(--color-text-white);
}

/* HEADER */
header {
  flex: 0 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}

/* MAIN */
main {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;

  max-height: calc(100vh - 165px);

  background: var(--color-bg-main);
}

.resize-button {
  position: absolute;
  top: 0;
  right: 0;

  z-index: 401;

  width: 17px;
  height: 17px;

  background-color: var(--color-text-white);
  background-image: url(../assets/expand.svg);
  background-size: cover;
  border: 1px var(--color-text-white) solid;
  border-collapse: collapse;
  opacity: 0.5;
}

.resize-button:hover {
  cursor: pointer;
  opacity: 1;
}

.list {
  position: relative;

  flex-basis: 220px;
  flex-grow: 1;
}

.map {
  flex-grow: 4;
}

.container-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 11;
}

.container-2 {
  display: flex;
}

.table {
  position: relative;

  flex-grow: 2;
}

.chart {
  position: relative;

  flex-grow: 3;
}

/* FOOTER */
footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  height: 50px;

  background: var(--color-bg-block);
}

.footer {
  min-width: 44vw;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-white);
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-image {
  height: 15px;
  margin: 4px;
}