@import './default.css';


.list {
  display: flex;
  flex-direction: column;
  max-height: 750px;
  overflow-y: scroll;
}

.list-countries--elem {
  padding-left: 20px;
}

.list-input {
  width: 90%;
  margin: 10px auto;

  font-size: 1.2rem;
}