:root {
  --color-bg-main: #000000;
  --color-bg-block: #222222;
  --color-text-white: #d6d6d6;
  --color-text-red: #e60000;
  --color-text-green: #70a800;
  --color-text-blue: #2493f2;
  --color-text-lila: #886e9b;
  --color-diagram: #ffaa00;
  --color-highlight-blue: #1061a6;
  --color-highlight-white: #ffffff;
  height: 100%;
  color: var(--color-text-white);
  user-select: none;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-bg-main);
}

.block {
  margin: 0.3rem;
  border: solid 1px var(--color-text-white);
  background: var(--color-bg-block);
}

/* HEADER */
header {
  flex: 0 0 auto;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
}

/* MAIN */
main {
  background: var(--color-bg-main);
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
}

.list {
  flex-grow: 2;
}

.map {
  flex-grow: 6;
}

.container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.table {
  flex-grow: 3;
}

.chart {
  flex-grow: 2;
}

/* FOOTER */
footer {
  background: var(--color-bg-block);
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 50px;
  justify-content: center;
}

.footer {
  min-width: 44vw;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-white);
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-image {
  height: 15px;
  margin: 4px;
}
