@import './default.css';

.table-info {
  width: 100%;
  height: 100%;

  border-collapse: collapse;
}

.table {
  position: relative;

  flex-basis: 210px;
}

tr,
td,
th {
  padding-left: 10px;  

  border: 2px solid var(--color-text-white);
}

.table-info-cases--value {
  min-width: 110px;

  color: var(--color-text-blue)
}

.table-info-deaths--value {
  min-width: 110px;

  color: var(--color-text-red);
}

.table-info-recovered--value {
  min-width: 110px;

  color: var(--color-text-green);
}

.table.full-screen {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1001;

  width: calc(100% - 10px);
  height: calc(100% - 10px);  
}
