@import './default.css';

.table-info {
  width: 100%;
  height: 100%;

  border-collapse: collapse;
}

.table {
  position: relative;

  flex-basis: 250px;
}

tr,
td,
th {
  /* height: 50px; */
  padding-left: 20px;  

  border: 2px solid var(--color-text-white);
}

.table-info-cases--value {
  color: var(--color-text-blue)
}

.table-info-deaths--value {
  color: var(--color-text-red);
}

.table-info-recovered--value {
  color: var(--color-text-green);
}

.table.full-screen {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1001;

  width: calc(100% - 10px);
  height: calc(100% - 10px);  
}
